.photos {
	margin: 160px auto;
	&__show {
		width: 400px;
		&-photo {
			border: 1px solid;
			margin: 0 0 10px 0;
			padding: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	}
}
